<div class="navbar">
 <%= image_tag "plants-logo.png", alt: "plants-and-gardens-logo", class: "logo" %>
  <nav>
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "GARDENS", gardens_path %></li>
      <li><%= link_to "ABOUT", gardens_path %></li>
      <li><%= link_to "CONTACT US", gardens_path %></li>
    </ul>
  </nav>
</div>
<h2><%= @garden.name %>🌿</h2>
<p>
  <%= link_to "Edit", edit_garden_path(@garden) %>
  <%= link_to "Delete",
    garden_path(@garden),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this garden?"}
  %>
</p>
<%= link_to "Back to gardens", gardens_path %>
