<div class="navbar--home">
  <%= link_to root_path do %>
   <%= image_tag "plants-logo.png", alt: "plants-and-gardens-logo", class: "logo" %>
  <% end %>
  <div class="nav--links">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "GARDENS", gardens_path %></li>
      <li><%= link_to "ABOUT", about_gardens_path %></li>
      <li><%= link_to "ADD GARDEN", new_garden_path %></li>
    </ul>
  </div>
</div>
